.ard-1{
    margin-right: 0;
    top: 15em;
    left: 0;;
    position: absolute;
    height: 400px;
    width: 200px;
    overflow: hidden;
    opacity:0.1
}
.ard-2{
    margin-right: 0;
    top: -2em;
    right: 0;
    position: absolute;
    height: 400px;
    width: 200px;
    overflow: hidden
}