.ard-1{
    margin-right: 0;
    top: -0em;
    left: 0;
    position: absolute;
    height: auto;
    width: 550px;
    overflow: hidden;
    opacity: 0.6;
}
.ard-2{
    margin-right: 0;
    top: -2em;
    right: 0;
    position: absolute;
    height: 400px;
    width: 200px;
    overflow: hidden
}